.body-wideMargin {
  margin: 5%;
  font-size: 100%;
  line-height: 1.5;
  font-family: Roboto;
}
button{
  padding:5px;
}

ol {

  list-style-type: decimal-leading-zero;
}

ol ol {
  margin-left: 0.9em;
}

ol li {

  line-height: 1.5;
}


h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

h2 {
  font-weight: bold;
  margin-top:2.5%;
  color: white;
  text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

h6 {
  border-style: solid;
  border-color: black;
  border-width: 0 0 5px 0;
  color: black;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imagetext {
  color:white;
  font-family: "Fjalla One", sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  border-bottom: 4px solid white;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.overview {
  padding:8%;
  padding-top:5%;
  padding-bottom:3%;
  margin: 2.5%;
  text-align:center;
}

section {
  padding-bottom:5%;
}

.links {
  color:black;
  line-height: 2.25em;
  font-size: 85%;
}

.links:hover {
  color:black;
}

footer {
  background-color: white;
  padding: 2.5%;
  border: solid black 2px;
}

.subfooter {
  background-color: gray;
  padding: 0.25%;
  padding-top: 1%;
  padding-left: 10%;
  line-height: 1em;
}

hr {
  margin-bottom: 8.5%;
  background-color:black;
  height:1px;
  border: none;
}

.calltoaction {
  margin-bottom:5%;
  background-image: url(https://images.indagare.com/wp-content/uploads/LP-MemberStories-NewZealand4.jpg);
}

.btn-customCA {
  color: white;
  background-color: black;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 5%;
  margin-top: 4%;
  max-width: 100px;
  height: 80%;
  border-radius: 25%;
}

.btn-customCA:hover {
  color:gray;
}