.body-wideMargin {
    margin: 50px;
    font-size: 100%;
    line-height: 1.5;
    font-family: Roboto;
  }
body {
    background-image: url(https://i.pinimg.com/originals/d3/f3/09/d3f309e0564fa13b3d66fd193bd685fa.jpg);
    background-size: cover;
  }
  