@import url(https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap);
#gallery {
  font-family: "Orbitron", sans-serif;
  line-height: 1.5em;
  text-align: center;
}

.container-card {
  display: inline-block;
  margin: 2%;
  perspective: none;
}

.flipper {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backface-visibility: hidden;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

img {
  width: 100%;
}

.container-card, .front, .back {
  width: 250px;
  height: 320px;
}

.container-card:hover .flipper {
  transform: rotateY(180deg);
}

a {
  color: blue;
}

.caption, .back h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.7em;
  padding: 10px 10px 0 10px;
  margin: 0;
  text-align: center;
}

p.caption {
  position: absolute;
  bottom: 1vh;
}

.description {
  font-size: 0.9em;
  padding: 0 20px 20px 20px;
  text-align: left;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.container-card{
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}