.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button2 {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;}
	.TomatoeButton {
		box-shadow:inset 0px 1px 1px -26px #f5978e;
		background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
		background-color:#f24537;
		border-radius:7px;
		border:3px solid #d02718;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:8px 34px;
		text-decoration:none;
		text-shadow:2px 2px 4px #810e05;
	}
	.TomatoeButton:hover {
		background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
		background-color:#c62d1f;
	}
	.TomatoeButton:active {
		position:relative;
		top:1px;
	}
	.OnionButton {
		width: 100px;
		height: 50px;
		background-color: #008CBA;
		border: none;
		border-radius: 3px;
		}  .OnionButton {
			box-shadow:inset 0px 1px 0px 0px #f9eca0;
			background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
			background-color:#f0c911;
			border-radius:6px;
			border:1px solid #e65f44;
			display:inline-block;
			cursor:pointer;
			color:#c92200;
			font-family:Arial;
			font-size:15px;
			font-weight:bold;
			padding:6px 24px;
			text-decoration:none;
			text-shadow:0px 1px 0px #ded17c;
		}
		.OnionButton:hover {
			background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
			background-color:#f2ab1e;
		}
		.OnionButton:active {
			position:relative;
			top:1px;
		}
			
		.title{
			color: red;
			 font-family: Helvetica, sans-serif; 
		  }
		  
		  .title-large {
			font-size: 2rem;
		  }
		  
		  .title-small {
			font-size: .5rem;
		  }

		  .button-largeRadius {box-shadow:inset 0px 1px 0px 0px #fce2c1;
			background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
			background-color:#ffc477;
			border-radius:6px;
			border:1px solid #eeb44f;
			display:inline-block;
			cursor:pointer;
			color:#ffffff;
			font-family:Arial;
			font-size:15px;
			font-weight:bold;
			padding:6px 24px;
			text-decoration:none;
			text-shadow:0px 1px 0px #cc9f52;}
			*{
				margin: .80%
	
			}