.body-wideMargin {
  margin: 50px;
  font-size: 100%;
  line-height: 1.5;
  font-family: Roboto;
}

button {
  padding: 5px;
}

ol {
  list-style-type: upper-roman;
}

ol li {
  line-height: 1.5;
  margin-left: 120px;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  margin-left: 50px;
}

h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1em;
  margin-left: 10vw;
  margin-top: 100px;
}

h4 {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 60px;
}

.demo-content {
  padding: 15px;
  font-size: 18px;
  background: #dbdfe5;
  margin-bottom: 15px;
}

.demo-content.bg-alt {
  background: #abb1b8;
}

.bs-example {
  margin: 20px;
}

.carousel {
  width: 640px;
  height: 360px;
}

.carousel-inner img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-max-width {
  margin-left: 25vw;
  margin-right: 25vw;
}

.jumbotron-custom {
  background-color: darkslategray;
  color: white;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
  margin-left: 60px;
}

.bg-custom {
  background-color: darkslategray;
}

@import url(https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap);
#gallery {
  font-family: "Orbitron", sans-serif;
  line-height: 1.5em;
  text-align: center;
}

.card-container {
  display: inline-block;
  margin: 3%;
  perspective: 1000px;
}

.flipper {
  position: relative;
  transition: 3s;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backface-visibility: hidden;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

img {
  width: 100%;
}

.card-container, .front, .back {
  width: 250px;
  height: 320px;
}

.card-container:hover .flipper {
  transform: rotateY(180deg);
}

a {
  color: chartreuse;
}

.caption, .back h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.7em;
  padding: 10px 10px 0 10px;
  margin: 0;
  text-align: center;
}

p.caption {
  position: absolute;
  bottom: 1vh;
}

.description {
  font-size: 0.9em;
  padding: 0 20px 20px 20px;
  text-align: left;
}

button:hover {
  color: blue;
}

.container {
	display: block;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
 
.small {
	width: 180px;
	height: auto;
	position: relative;
	margin: 3px;
	border-radius: 5px;
}
 
.small:hover {
	-webkit-transform: scale(1.03, 1.03);
	transform: scale(1.03, 1.03);
}

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
  transition: transform 3s;
}

a div {
	position: relative;
	margin: auto auto;
	text-align: center;
}
 
.lightbox:target {
	display: -webkit-box;
	display: flex;
  transform: scale(3);
}

.zoom:hover {
  transition: 4s;
}
 
.container a {
	text-decoration: none;
}
 
.container p {
	font-size: 20px;
	color: white;
	font-family: 'Poiret One';
}